:root {
    --color-theme-dark: #1f1f1f;
    --color-theme-dark-faded: #3a3a3a;
    --color-theme-accent: #00ab37;
    --color-theme-light: #ffffff;
    --color-theme-light-faded: #828282;
}

p, h1, h2, h3, h4, h5, h6, em, div, li, span, strong {
    color: var(--color-theme-light);
    line-height: 125%;
}

a {
    color: var(--color-theme-accent);
}

ul {
    padding-left: 0px;
    list-style-position: inside;
}

body {
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: var(--color-theme-dark);
    font-family: 'Roboto Condensed', sans-serif;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--color-theme-dark);
    border-top: 1px solid var(--color-theme-dark-faded);
}

/* Bean Image */

.bean-image {
    padding-block: 20px;
}

.bean-image img {
    width: 100%;
    max-width: 240px;
    max-height: 240px;
    border-radius: 10%;
    object-fit: cover;
    object-position: center;
    border: 2px solid var(--color-theme-light);
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.95;
    padding-inline: 30px 30px;
}

.navbar p, a, h1, h2, h3, h4, h5, h6, em, div, li, span, strong {
    line-height: 0%;
    margin-block: 20px 20px;
}

.navbar a {
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
    padding-left: 20px;
    color: var(--color-theme-light-faded);
}

.navbar a.active,
.navbar a:hover {
    color: var(--color-theme-light);
}

.navbar-left {
    text-align: center;
    display: inline;
}

.navbar-right {
    display: inline;
}