:root {
    --color-theme-dark: #1f1f1f;
    --color-theme-dark-faded: #3a3a3a;
    --color-theme-accent: #00ab37;
    --color-theme-light: #ffffff;
    --color-theme-light-faded: #828282;
}

p, h1, h2, h3, h4, h5, h6, em, div, li, span, strong {
    color: var(--color-theme-light);
    line-height: 125%;
}

a {
    color: var(--color-theme-accent);
}

ul {
    padding-left: 25px;
}

body {
    background-color: var(--color-theme-dark);
    font-family: 'Roboto Condensed', sans-serif;
    padding-left: 20px;
}

.bean-image img {
    width: 100%;
    max-width: 240px;
    max-height: 240px;
    border-radius: 10%;
    margin-top: 20px;
    object-fit: cover;
    object-position: center;
    border: 2px solid var(--color-theme-light);
}